<div class="pagination mb-3">
    <pagination-controls 
        [autoHide]="true"
        [responsive]="true" 
        previousLabel="{{ 'commons.pagination.previous' | translate }}"
        nextLabel="{{ 'commons.pagination.next' | translate }}" 
        (pageChange)="onPageChange($event)"
    ></pagination-controls>

    <div class="select">
        <select [ngModel]="itemsPerPage" (ngModelChange)="onItemsPerPageChange($event)">
            @for (itemsPerPage of itemsPerPages; track itemsPerPage) {
                <option [ngValue]="itemsPerPage">{{ itemsPerPage }}</option>
            }
        </select>
    </div>
</div>