<div class="card-page-title highlight-card card-small">
    <img src="/assets/images/pages/invoices.png" alt="">
    <h1 class="title">{{ "pages.invoices.title" | translate }}</h1>
</div>

<button class="button is-primary mb-3" (click)="addInvoice()"><i class="far fa-pencil-alt"></i></button>

<div>
    <div class="table-container mb-3">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    @for (tableHeader of tableHeaders; track tableHeader) {
                    <th class="is-primary" align="center" [ngStyle]="{'width': tableHeader.width}">{{
                        ('pages.invoices.tableHeaders.' + tableHeader.title) | translate }}</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (invoice of invoices; track invoice) {
                <tr class="invoice">
                    <td class="has-text-centered">
                        @if (invoice.editMode) {
                            <div class="control has-icons-left">
                                <input type="text" id="invoiceBillingDateInput_{{ invoice.id }}" class="input" name="billingDate">
                                <span class="icon is-small is-left">
                                    <i class="far fa-calendar"></i>
                                </span>
                            </div>
                        } @else {
                            {{ invoice.billingDate ? invoice.billingDate.format(dateFormat) : '' }}
                        }
                    </td>
                    <td class="has-text-centered">
                        @if (invoice.editMode) {
                            <div class="control has-icons-{{ displaySignPosition }}">
                                <input type="number" class="input" name="amount" [(ngModel)]="invoice.amount" step="any" min="0">
                                <span class="icon is-small is-{{ displaySignPosition }}">
                                    <i class="fal fa-{{ 'commons.moneySymbolFaIcon' | translate }}"></i>
                                </span>
                            </div>
                        } @else {
                            {{ invoice.amount }} <i class="fal fa-{{ 'commons.moneySymbolFaIcon' | translate }}"></i>
                        }
                    </td>
                    <td>
                        @if (invoice.editMode) {
                            <textarea class="textarea" name="description" [(ngModel)]="invoice.description" rows="1"></textarea>
                        } @else {
                            <div class="description">{{ invoice.description }}</div>
                        }
                    </td>
                    <td class="has-text-centered">
                        @if (invoice.editMode) {
                            <button type="button" class="button" (click)="saveChanges(invoice)">
                                <i class="far fa-bookmark"></i>
                            </button>
                        } @else {
                            <button type="button" class="button" (click)="updateInvoice(invoice)">
                                <i class="far fa-pencil-alt"></i>
                            </button>
                        }

                        <button type="button" class="button btn-delete ml-2" (click)="deleteInvoice(invoice.id)">
                            <i class="far fa-trash"></i>
                        </button>
                    </td>
                </tr>
                }

                @if (invoices.length == 0) {
                <tr>
                    <td colspan="7" class="has-text-centered">{{ "pages.invoices.noInvoiceAddNewForStartTracking" | translate }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="has-background-white" [ngClass]="{'is-invisible': invoices.length == 0}">
        <canvas id="totalInvoicedPerYearsChart"></canvas>
    </div>
</div>