<app-page-title title="invoices"></app-page-title>

<button class="button is-primary mb-3" (click)="addInvoice()"><i class="far fa-pencil-alt"></i></button>

<div>
    <div class="table-container box p-0">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    @for (tableHeader of tableHeaders; track tableHeader) {
                        <th class="is-primary" [align]="tableHeader.align" [ngStyle]="{'width': tableHeader.width}">{{ ('pages.invoices.tableHeaders.' + tableHeader.title) | translate }}</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (invoice of invoices | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; track invoice) {
                    <tr class="invoice">
                        <td class="has-text-centered">{{ invoice.billingDate ? invoice.billingDate.format(dateFormat) : '' }}</td>
                        <td class="has-text-centered">{{ invoice.amount }} {{ 'commons.moneySymbol' | translate }}</td>
                        <td>
                            <div class="description">{{ invoice.description }}</div>
                        </td>
                        <td class="has-text-centered">
                            <button type="button" class="button" (click)="updateInvoice(invoice)">
                                <i class="far fa-pencil-alt"></i>
                            </button>

                            <button type="button" class="button btn-delete ml-2" (click)="deleteInvoice(invoice.id)">
                                <i class="far fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }

                @if (invoices.length == 0) {
                    <tr>
                        <td colspan="7" class="has-text-centered">{{ "pages.invoices.noInvoiceAddNewForStartTracking" | translate }}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <app-pagination
        [page]="page"
        (pageChange)="page = $event"
        (itemsPerPageChange)="itemsPerPage = $event"
    ></app-pagination>

    <div class="columns">
        <div class="column"></div>
    
        <div class="column is-three-fifths">
            <div class="box" [ngClass]="{'is-invisible': invoices.length == 0}">
                <canvas id="totalInvoicedPerYearsChart"></canvas>
            </div>
        </div>
    </div>    
</div>