<app-page-title title="account"></app-page-title>

<div class="mb-5">
    <div class="tabs-wrapper is-boxed mb-5">
        <div class="tabs">
            <ul>
                @for (tab of tabs; track tab.id) {
                    <li [ngClass]="{'is-active': selectedTab.id == tab.id}" (click)="selectTab(tab)">
                        <a>
                            <span class="icon is-small"><i class="far fa-{{ tab.icon }}" aria-hidden="true"></i></span>
                            <span>{{ tab.name | translate }}</span>
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="box tabs-content">
            <ul>
                <li [ngClass]="{'is-active': selectedTab.id == tabs[0].id}">
                    <app-account-tab-informations></app-account-tab-informations>
                </li>
                <li [ngClass]="{'is-active': selectedTab.id == tabs[1].id}">
                    <app-account-tab-security></app-account-tab-security>
                </li>
            </ul>
        </div>    
    </div>

    <button type="button" class="button is-danger" (click)="logout()">
        <i class="far fa-sign-out-alt mr-2"></i> Deconnexion
    </button>
</div>