.hero-page-title {
    position: relative;
    background-color: #1976d2;
    border-radius: .3rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;

    .hero-body {
        padding: 1rem;
    }

    img {
        position: absolute;
        top: 0;
        left: 1rem;
        width: 4rem;
        height: 4rem;

        @media screen and (min-width: 800px) {
            top: -45%;
            left: 15%;
            height: auto;
            width: auto;
        }

        @media screen and (min-width: 1400px) {
            top: -45%;
            left: 30%;
        }
    }
}