<app-page-title title="settings"></app-page-title>

<div class="box settings">
    <section class="section">
        <h1 class="title mb-3">{{ 'commons.language' | translate }}</h1>
        <div class="subtitle">
            <div class="buttons">
                @for (locale of locales; track locale) {
                    <button class="button" [ngClass]="{'is-primary is-selected': settings.locale == locale}"
                        (click)="updateLocale(locale)">
                        <span class="icon is-small">
                            <img src="/assets/images/locales/{{ locale }}.png" />
                        </span>
                        <span>{{ 'commons.languages.' + locale | translate}}</span>
                    </button>
                }
            </div>
        </div>
    </section>

    <section class="section">
        <h1 class="title mb-3">{{ 'pages.settings.theme' | translate }}</h1>
        <div class="subtitle">
            {{ 'commons.commingSoon' | translate }}
        </div>
    </section>

    <section class="section">
        <h1 class="title mb-3">{{ 'pages.settings.calendarViewFormat' | translate }}</h1>
        <div class="subtitle">
            <div class="buttons has-addons">
                @for (calendarViewFormat of calendarViewFormats; track calendarViewFormat) {
                <button class="button" [ngClass]="{'is-primary is-selected': settings.calendarViewFormat == calendarViewFormat}"
                    (click)="updateCalendarViewFormat(calendarViewFormat)">
                    {{ 'commons.calendarViewFormats.' + calendarViewFormat | translate }}
                </button>
                }
            </div>
        </div>
    </section>

    <section class="section">
        <h1 class="title mb-3">{{ 'pages.settings.pagination' | translate }}</h1>
        <div class="subtitle">
            <div class="buttons has-addons">
                @for (itemsPerPage of itemsPerPages; track itemsPerPage) {
                    <button class="button" [ngClass]="{'is-primary is-selected': settings.itemsPerPage == itemsPerPage}" (click)="updateItemsPerPage(itemsPerPage)">
                        {{ itemsPerPage }}
                    </button>
                }
            </div>
        </div>
    </section>

    <section class="section">
        <h1 class="title mb-3">{{ 'pages.settings.weightUnit' | translate }}</h1>
        <div class="subtitle">
            <div class="radios">
                @for (weightUnit of weightUnits; track weightUnit) {
                    <label class="b-radio radio">
                        <input type="radio" name="weightUnit" [(ngModel)]="settings.weightUnit" (ngModelChange)="updateWeightUnit(weightUnit)" [value]="weightUnit">
                        <span class="check"></span>
                        <span class="control-label">{{ weightUnitsLabels[weightUnit] }}</span>
                    </label>
                }
            </div>
        </div>
    </section>

    <section class="section">
        <h1 class="title mb-3">{{ 'pages.settings.about' | translate }}</h1>
        <div class="subtitle">
            <p class="mb-2">Poids pacha v0.2.0-dev</p>
            <p class="mb-2">
                <a href="https://github.com/ORN-Fox/weight-pacha" target="_blank" rel="noopener" title="Github"
                    aria-label="Github repository">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
                    </svg>
                </a>
                <span class="mx-2">{{ 'pages.settings.licenseDetails' | translate }}</span>
            </p>
            <p>
                {{ 'pages.settings.author' | translate }} : 
                <a href="https://github.com/ORN-Fox" target="_blank" rel="noopener" title="ORN_Fox Github Profile" aria-label="ORN_Fox Github profile">
                    ORN_Fox <i class="far fa-external-link ms-2"></i>
                </a>
            </p>
        </div>
    </section>
</div>