<div class="card-page-title highlight-card card-small">
    <img src="/assets/images/pages/notes.png" alt="">
    <h1 class="title">{{ "pages.notes.title" | translate }}</h1>
</div>

<div class="columns">
    <div class="column is-one-third">
        <nav class="panel is-primary">
            <div class="panel-block">
                <p class="control has-icons-left">
                    <input class="input" type="text" [(ngModel)]="searchText" (ngModelChange)="search(searchText)" placeholder="{{ 'commons.actions.search' | translate }}" />
                    <span class="icon is-left">
                        <i class="far fa-search" aria-hidden="true"></i>
                    </span>
                </p>

                <button class="button is-primary btn-add-note" (click)="addNote()"><i class="far fa-pencil-alt"></i></button>
            </div>
            
            <div class="panel-scrollable">
                @for (note of notes; track note) {
                    <a class="panel-block" [ngClass]="{'is-active': selectedNote && selectedNote.id == note.id }" (click)="selectNote(note)">
                        <span class="panel-icon">
                            <i class="far fa-book" aria-hidden="true"></i>
                        </span>
                        @if (note.title) {
                            {{ note.title }}
                        } @else {
                            <span class="has-text-grey-light">{{ "pages.notes.placeholders.title" | translate }}</span>
                        }

                        <button type="button" class="button btn-delete" (click)="deleteNote($event, note.id)">
                            <i class="far fa-trash"></i>
                        </button>
                    </a>
                }

                @if (notes.length == 0) {
                    <div class="panel-block">
                        {{ (searchText ? 'pages.notes.noResults' : 'pages.notes.noNoteAddNewNoteForStart') | translate }}
                    </div>
                }
            </div>
        </nav>
    </div>

    <div class="column">
        @if (selectedNote) {
            <form [formGroup]="noteForm" (ngSubmit)="saveChanges()">
                <div class="field">
                    <div class="control is-expanded has-icons-left">
                        <input class="input" type="text" formControlName="title" placeholder="{{ 'pages.notes.placeholders.title' | translate }}"
                            [ngClass]="{'is-danger': noteForm.get('title')?.errors?.['required'] && noteForm.get('title')?.touched}">
                        <span class="icon is-small is-left">
                            <i class="far fa-book"></i>
                        </span>
                    </div>
                    @if (noteForm.get('title')?.errors?.['required'] && noteForm.get('title')?.touched) {
                        <p class="help is-danger">{{ "pages.notes.errors.titleRequired" | translate }}</p>
                    }
                </div>

                <div class="field">
                    <textarea class="textarea" formControlName="description" rows="20" placeholder="{{ 'pages.notes.placeholders.description' | translate }}"></textarea>
                </div>
            
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary"><i class="far fa-bookmark mr-2"></i> {{ "commons.actions.add" | translate }}</button>
                    </div>
                </div>
            </form>
        }
    </div>
</div>