<app-page-title title="notes"></app-page-title>

<div class="columns">
    <div class="column is-one-third">
        <nav class="panel is-primary">
            <div class="panel-block">
                <p class="control has-icons-left">
                    <input type="search" class="input" [(ngModel)]="searchText" (ngModelChange)="search(searchText)" placeholder="{{ 'commons.actions.search' | translate }}" />
                    <span class="icon is-left">
                        <i class="far fa-search" aria-hidden="true"></i>
                    </span>
                </p>

                <button class="button is-primary btn-add-note" (click)="addNote()"><i class="far fa-pencil-alt"></i></button>
            </div>
            
            <div class="panel-scrollable">
                @for (note of notes; track note) {
                    <a class="panel-block" [ngClass]="{'is-active': selectedNote && selectedNote.id == note.id }" (click)="selectNote(note, true)">
                        <span class="panel-icon">
                            <i class="far fa-book" aria-hidden="true"></i>
                        </span>
                        <div>
                            @if (note.name) {
                                <p>{{ note.name }}</p>
                                <p class="subtitle has-text-grey-light">{{ note.updatedAt ? note.updatedAt.format(dateTimeFormat) : note.createdAt?.format(dateTimeFormat) }}</p>
                            } @else {
                                <p class="has-text-grey-light">{{ "commons.fields.title" | translate }}</p>
                            }
                        </div>

                        <button type="button" class="button btn-delete" (click)="deleteNote($event, note.id)">
                            <i class="far fa-trash"></i>
                        </button>
                    </a>
                } @empty {
                    <div class="panel-block">
                        {{ (searchText ? 'pages.notes.noResults' : 'pages.notes.noNoteAddNewNoteForStart') | translate }}
                    </div>
                }
            </div>
        </nav>
    </div>

    <div class="column">
        @if (selectedNote) {
            <form [formGroup]="noteForm" (ngSubmit)="saveNote()">
                <div class="field">
                    <div class="label-with-length-counter">
                        <label class="label">{{ "commons.fields.title" | translate }}</label>
                        <p>{{ noteForm.get('name')?.value?.length ?? 0 }} / 100</p>
                    </div>
                    <div class="control is-expanded has-icons-left">
                        <input class="input" type="text" formControlName="name" placeholder="{{ 'commons.fields.title' | translate }}" maxlength="100"
                            [ngClass]="{'is-danger': noteForm.get('name')?.errors?.['required'] && (isSubmitted || noteForm.get('name')?.touched)}">
                        <span class="icon is-small is-left">
                            <i class="far fa-book"></i>
                        </span>
                    </div>
                    <app-form-error [form]="noteForm" fieldName="name" errorRuleName="required" errorMessage="commons.errors.titleRequired" customClass="is-danger" [isSubmitted]="isSubmitted"></app-form-error>
                </div>

                <div class="field">
                    <label class="label">{{ "commons.fields.description" | translate }}</label>
                    <textarea class="textarea" formControlName="description" rows="20" placeholder="{{ 'commons.fields.description' | translate }}"></textarea>
                </div>
            
                <div class="field">
                    <app-action-button type="submit" title="commons.actions.save" customClass="is-primary" icon="far fa-bookmark mr-2" [isLoading]="isLoading"></app-action-button>
                </div>
            </form>
        }
    </div>
</div>