.panel-scrollable {
    max-height: 58vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.panel-block {
    position: relative;

    .subtitle {
        font-size: .85rem;
    }
    
    .btn-delete {
        display: none;
        position: absolute;
        right: 1rem;
    }

    &:hover .btn-delete {
        display: block;

        &:hover {
            color: red;
        }
    }
}

.btn-add-note {
    margin-left: .5rem;
    padding: .75rem 1rem;
}