.custom-radio-with-icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: .5rem 2rem;
    border: 1px solid #d6d9e0;
    border-radius: 0.375rem;

    &:hover, &.active {
        border-color: #4258ff;
    }

    &.is-danger {
        border-color: red;
    }

    input {
        visibility: hidden;
    }

    img, .far {
        margin-bottom: .5rem;
    }
}

.radio-female, .radio-male {
    text-align: center;
    width: 8rem;
}

.radio-female .far {
    color: #e86ada;
}

.radio-male .far {
    color: #82c9f4;
}