<div class="card-page-title highlight-card card-small">
    <img src="/assets/images/informations.png" alt="">
    <h1 class="title">{{ "pages.informations.title" | translate }}</h1>
</div>

<form class="mb-5" [formGroup]="petForm" (ngSubmit)="saveChanges()">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{ "pages.informations.firstName" | translate }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control is-expanded has-icons-left">
                    <input class="input" type="text" formControlName="firstName" placeholder="{{ 'pages.informations.placeholders.firstName' | translate}}"
                           [ngClass]="{'is-danger': petForm.get('firstName')?.errors?.['required'] && petForm.get('firstName')?.touched}">
                    <span class="icon is-small is-left">
                        <i class="far fa-heart"></i>
                    </span>
                </div>
                @if (petForm.get('firstName')?.errors?.['required'] && petForm.get('firstName')?.touched) {
                    <p class="help is-danger">{{ "pages.informations.errors.firstNameRequired" | translate }}</p>
                }
            </div>
        </div>
    </div>
    
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{ "pages.informations.specie" | translate }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control radios">
                    @for (specie of species; track specie) {
                        <label class="radio custom-radio-with-icon has-text-centered" [ngClass]="{'active': petForm.get('specie')?.value == specie.value}">
                            <input type="radio" formControlName="specie" value="{{ specie.value }}" />
                            <img [src]="'./assets/images/animals/' + specie.key + '.png'" alt=""> {{ ("pages.informations." + specie.key) | translate }}
                        </label>
                    }
                </div>
                @if (petForm.get('specie')?.errors?.['required'] && petForm.get('specie')?.touched) {
                    <p class="help is-danger">{{ "pages.informations.errors.specieRequired" | translate }}</p>
                }
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{ "pages.informations.breed" | translate }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control is-expanded has-icons-left">
                    <input class="input" type="text" formControlName="breed" placeholder="{{ 'pages.informations.placeholders.breed' | translate }}">
                    <span class="icon is-small is-left">
                        <i class="far fa-quote-right"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{ "pages.informations.color" | translate }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control is-expanded has-icons-left">
                    <input class="input" type="text" formControlName="color" placeholder="{{ 'pages.informations.placeholders.color' | translate }}">
                    <span class="icon is-small is-left">
                        <i class="far fa-palette"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">{{ "pages.informations.sex" | translate }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control radios">
                    <label class="radio custom-radio-with-icon radio-female" [ngClass]="{'active': petForm.get('sex')?.value == 0}">
                        <input type="radio" formControlName="sex" value="0">
                        <i class="far fa-venus fa-2x"></i> {{ "pages.informations.female" | translate }}
                    </label>
                    <label class="radio custom-radio-with-icon radio-male" [ngClass]="{'active': petForm.get('sex')?.value == 1}">
                        <input type="radio" formControlName="sex" value="1">
                        <i class="far fa-mars fa-2x"></i> {{ "pages.informations.male" | translate }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{ "pages.informations.birthDate" | translate }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control is-expanded has-icons-left">
                    <input id="birthDateInput" class="input" type="text" formControlName="birthDate" placeholder="jj-mm-aaaa hh:mm">
                    <span class="icon is-small is-left">
                        <i class="far fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{ "pages.informations.adoptedDate" | translate }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control is-expanded has-icons-left">
                    <input id="adoptedDateInput" class="input" type="text" formControlName="adoptedDate" placeholder="jj-mm-aaaa hh:mm">
                    <span class="icon is-small is-left">
                        <i class="far fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">{{ "pages.informations.sterialize" | translate }} ?</label>
        </div>
        <div class="field-body">
            <div class="field">
                <label class="switch is-outlined">
                    <input type="checkbox" formControlName="sterilise">
                    <span class="check"></span>
                    <span class="control-label">{{ (petForm.get('sterilise')?.value == true ? 'commons.actions.yes' : 'commons.actions.no') | translate }}</span>
                </label>
            </div>
        </div>
    </div>
    
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{ "pages.informations.tagNumber" | translate }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control is-expanded has-icons-left">
                    <input class="input" type="text" formControlName="tagNumber" placeholder="0123456789">
                    <span class="icon is-small is-left">
                        <i class="far fa-tag"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{ "pages.informations.tagRageNumber" | translate }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control is-expanded has-icons-left">
                    <input class="input" type="text" formControlName="tagRageNumber" placeholder="0123456789">
                    <span class="icon is-small is-left">
                        <i class="far fa-tag"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">{{ "pages.informations.description" | translate }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <textarea class="textarea" formControlName="description" rows="4" 
                              placeholder="{{ 'pages.informations.placeholders.description' | translate }}">
                    </textarea>
                </div>
            </div>
        </div>
    </div>
    
    <div class="field is-horizontal">
        <div class="field-label"></div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-primary"><i class="far fa-bookmark mr-2"></i> {{ "commons.actions.save" | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</form>