<form [formGroup]="wormableForm" (ngSubmit)="saveWormable()">
    <div class="modal-header">
        <h2 class="modal-title">{{ ("pages.wormables." + (editMode ? "editTitle" : "addTitle")) | translate }}</h2>
    </div>

    <mat-dialog-content>
        <div class="field">
            <label class="label">{{ "commons.fields.date" | translate }}</label>
            <div class="control has-icons-left">
                <input type="text" id="injectionDateInput" class="input" formControlName="injectionDate" placeholder="{{ 'commons.dateFormats.date' | translate}}"
                    [ngClass]="{'is-danger': wormableForm.get('injectionDate')?.errors?.['required'] && (submitted || wormableForm.get('injectionDate')?.value === '')}">
                <span class="icon is-small is-left">
                    <i class="far fa-calendar"></i>
                </span>
            </div>
            @if (wormableForm.get('injectionDate')?.errors?.['required'] && (submitted || wormableForm.get('injectionDate')?.value === '')) {
                <p class="help is-danger">{{ "commons.errors.dateRequired" | translate }}</p>
            }
        </div>

        <div class="field">
            <label class="label">{{ "commons.fields.title" | translate }}</label>
            <div class="control has-icons-left">
                <input type="text" class="input" name="name" formControlName="name" placeholder="{{ 'commons.fields.title' | translate}}"
                    [ngClass]="{'is-danger': wormableForm.get('name')?.errors?.['required'] && (submitted || wormableForm.get('name')?.touched)}">
                <span class="icon is-small is-left">
                    <i class="far fa-tag"></i>
                </span>
            </div>
            @if (wormableForm.get('name')?.errors?.['required'] && (submitted || wormableForm.get('name')?.touched)) {
                <p class="help is-danger">{{ "commons.errors.titleRequired" | translate }}</p>
            }
        </div>

        <div class="field">
            <label class="label">{{ "commons.fields.reminderDate" | translate }}</label>
            <div class="control has-icons-left">
                <input type="text" id="reminderDateInput" class="input" formControlName="reminderDate" placeholder="{{ 'commons.dateFormats.date' | translate}}"
                    [ngClass]="{'is-danger': wormableForm.get('reminderDate')?.invalid && wormableForm.get('reminderDate')?.touched}">
                <span class="icon is-small is-left">
                    <i class="far fa-calendar"></i>
                </span>
            </div>
            @if (wormableForm.get('reminderDate')?.errors?.['sameOrBeforeReminderDateError'] && wormableForm.get('reminderDate')?.value) {
                <p class="help is-danger">{{ "pages.wormables.errors.sameOrBeforeReminderDateError" | translate }}</p>
            }
        </div>

        <div class="field">
            <label class="label">{{ "commons.fields.description" | translate }}</label>
            <textarea class="textarea" name="description" rows="3" formControlName="description" placeholder="{{ 'commons.fields.description' | translate}}"
                [ngClass]="{'is-danger': wormableForm.get('description')?.errors?.['required'] && wormableForm.get('description')?.touched}"></textarea>
        </div>
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button type="button" class="button" mat-dialog-close>
            {{ "commons.actions.cancel" | translate }}
        </button>
            
        <button type="submit" class="button is-primary ml-2">
            <i class="far fa-bookmark mr-2"></i> {{ "commons.actions.save" | translate }}
        </button>
    </mat-dialog-actions>
</form>