<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">{{ "pages.login.title" | translate }}</h3>
                <hr class="login-hr">
                <p class="subtitle has-text-black">{{ "pages.login.subTitle" | translate }}</p>

                <div class="box">
                    <figure class="avatar mb-3">
                        <img src="favicon.ico">
                    </figure>

                    @if (isError) {
                        <div class="notification is-danger is-light">
                            <button class="delete" (click)="clearError()"></button>
                            {{ "pages.login.errors.credentialsInvalid" | translate }}
                        </div>
                    }

                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="field">
                            <div class="control">
                                <input type="email" formControlName="email" class="input" placeholder="{{ 'pages.login.placeholders.email' | translate }}" [ngClass]="{'is-danger': loginForm.get('email')?.errors?.['required'] && (isSubmitted || loginForm.get('email')?.touched)}">
                            </div>
                            <app-form-error [form]="loginForm" fieldName="email" errorRuleName="required" errorMessage="pages.login.errors.emailRequired" customClass="is-danger has-text-left" [isSubmitted]="isSubmitted"></app-form-error>
                            <app-form-error [form]="loginForm" fieldName="email" errorRuleName="email" errorMessage="pages.login.errors.emailInvalid" customClass="is-danger has-text-left" [isSubmitted]="isSubmitted"></app-form-error>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input type="password" formControlName="password" class="input" placeholder="{{ 'pages.login.placeholders.password' | translate }}" [ngClass]="{'is-danger': loginForm.get('password')?.errors?.['required'] && (isSubmitted || loginForm.get('password')?.touched)}">
                            </div>
                            <app-form-error [form]="loginForm" fieldName="password" errorRuleName="required" errorMessage="pages.login.errors.passwordRequired" customClass="is-danger has-text-left" [isSubmitted]="isSubmitted"></app-form-error>
                            <app-form-error [form]="loginForm" fieldName="password" errorRuleName="min" errorMessage="pages.login.errors.passwordInvalidMin" customClass="is-danger has-text-left" [isSubmitted]="isSubmitted"></app-form-error>
                            <app-form-error [form]="loginForm" fieldName="password" errorRuleName="max" errorMessage="pages.login.errors.passwordInvalidMax" customClass="is-danger has-text-left" [isSubmitted]="isSubmitted"></app-form-error>
                        </div>

                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" formControlName="rememberMe">
                                {{ "pages.login.rememberMe"| translate }}
                            </label>
                        </div>

                        <app-action-button type="submit" title="Login" customClass="is-block is-info is-fullwidth" icon="far fa-sign-in" [isLoading]="isLoading"></app-action-button>
                    </form>
                </div>

                <p class="has-text-grey">
                    <a href="#">Sign Up</a> &nbsp;·&nbsp;
                    <a href="#">Forgot Password</a> &nbsp;·&nbsp;
                    <a href="https://github.com/ORN-Fox/weight-pacha" target="_blank" rel="noopener" title="Github" aria-label="Github repository">
                        {{ "pages.login.needHelp" | translate }} <i class="far fa-external-link"></i>
                    </a>
                </p>
                <p class="has-text-grey">v0.3.0-dev</p>
            </div>
        </div>
    </div>
</section>