.measure-content {
    position: relative;
    margin: .5rem;

    &:hover .actions {
        display: block;
    }

    .actions {
        display: none;
        position: absolute;
        top: .5rem;
        right: .5rem;
    }

    .delete:hover {
        background-color: #ff0000cc;
    }
}