.measure-content {
    font-size: 1rem;
    position: relative;
    margin: .5rem;

    &:hover .actions {
        display: block;
    }

    .actions {
        display: none;
        position: absolute;
        top: .5rem;
        right: .5rem;
    }

    .btn-delete:hover {
        color: #ff0000cc;
    }
}