<div class="box measure-content">
  @if (editMode) {
    <div>
      <div class="add-measure">
        <div class="field">
          <label class="label">{{ "pages.weight.date" | translate }}</label>
          <div class="control has-icons-left">
            <input type="text" name="measureDate" id="measureDateInput_{{ measure.id }}" class="input"
              [ngClass]="{'is-danger': isInvalidDate()}">
            <span class="icon is-small is-left">
              <i class="far fa-calendar"></i>
            </span>
            @if (isInvalidDate()) {
              <p class="help is-danger">{{ "pages.weight.invalidDate" | translate }}</p>
            }
          </div>
        </div>
    
        <div class="field">
          <label class="label">{{ "pages.weight.weight" | translate }}</label>
          <div class="control has-icons-left has-icons-right">
            <input type="number" name="weight" class="input" [ngClass]="{'is-danger': isInvalidWeight(measure.weigth)}"
              [(ngModel)]="measure.weigth" step="any" min="0" placeholder="2">
            <span class="icon is-small is-left">
              <i class="far fa-weight-hanging"></i>
            </span>
            <span class="icon is-small is-right">
              {{ measureUnitLabel }}
            </span>
            @if (isInvalidWeight(measure.weigth)) {
              <p class="help is-danger">{{ "pages.weight.weightMustBePositive" | translate }}</p>
            }
          </div>
        </div>
    
        <div class="field has-text-centered">
          <div class="control">
            <button type="button" class="button is-primary add-measure-button" (click)="saveMeasure()"
              [disabled]="shouldDisableAddMeasureButton()">{{ "commons.actions.save" | translate }}</button>
              @if (isExistingMeasureOnSelectedDate()) {
                <p class="help is-danger">{{ "pages.weight.measureExistsOnThisDate" | translate }}</p>
              }
          </div>
        </div>
      </div>
    </div>
  } @else {
    <div>
      <p><i class="far fa-calendar mr-2"></i> {{ measure.date.format(dateTimeFormat) }}</p>
      @if (measure.weigth) {
        <p>
          <i class="far fa-weight-hanging mr-2"></i> {{ measure.weigth }} {{ measureUnitLabel }} 
          @if (measureDiff) {
            <span class="tag {{ measureDiff.colorClass }} is-light"><i class="far {{ measureDiff.icon }} mr-2"></i> {{ measureDiff.value }} {{ measureUnitLabel }}</span>
          }
        </p>
      } @else {
        <p>{{ "pages.weight.noWeight" | translate }}</p>
      }
    </div>
  }

  <div class="actions">
    <button type="button" class="button btn-edit is-small" (click)="updateMeasure()">
      <i class="far fa-pencil-alt"></i>
    </button>
    <button type="button" class="button btn-delete is-small ml-2" (click)="deleteMeasure()">
      <i class="far fa-trash"></i>
    </button>
  </div>
</div>