.home {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 90vh;

    .grid {
        align-self: center;

        a.disabled {
            cursor: not-allowed;
            opacity: .75;
        }

        .title {
            white-space: nowrap;
        }
    }
}