<form [formGroup]="calendarEventForm" (ngSubmit)="saveCalendarEvent()">
    <div class="modal-header">
        <h2 class="modal-title">{{ ("pages.calendar." + (editMode ? "editTitle" : "addTitle")) | translate }}</h2>
    </div>

    <mat-dialog-content>
        <div class="field">
            <label class="label">{{ "commons.fields.date" | translate }}</label>
            <div class="control has-icons-left">
                <input type="text" id="startDateInput" class="input" formControlName="startDate" placeholder="{{ 'commons.dateFormats.dateTime' | translate}}"
                    [ngClass]="{'is-danger': calendarEventForm.get('startDate')?.errors?.['required'] && (submitted || calendarEventForm.get('startDate')?.value === '')}">
                <span class="icon is-small is-left">
                    <i class="far fa-calendar"></i>
                </span>
            </div>
            @if (calendarEventForm.get('startDate')?.errors?.['required'] && (submitted || calendarEventForm.get('startDate')?.value === '')) {
                <p class="help is-danger">{{ "commons.errors.dateRequired" | translate }}</p>
            }
        </div>

        <div class="field">
            <label class="label">{{ "commons.fields.title" | translate }}</label>
            <div class="control has-icons-left">
                <input type="text" class="input" name="title" formControlName="title" placeholder="{{ 'commons.fields.title' | translate}}"
                    [ngClass]="{'is-danger': calendarEventForm.get('title')?.errors?.['required'] && (submitted || calendarEventForm.get('title')?.touched)}">
                <span class="icon is-small is-left">
                    <i class="far fa-tag"></i>
                </span>
            </div>
            @if (calendarEventForm.get('title')?.errors?.['required'] && (submitted || calendarEventForm.get('title')?.touched)) {
                <p class="help is-danger">{{ "commons.errors.titleRequired" | translate }}</p>
            }
        </div>

        <div class="field">
            <label class="label">{{ "commons.fields.description" | translate }}</label>
            <textarea class="textarea" name="description" rows="3" formControlName="description" placeholder="{{ 'commons.fields.description' | translate}}"
                [ngClass]="{'is-danger': calendarEventForm.get('description')?.errors?.['required'] && calendarEventForm.get('description')?.touched}"></textarea>
        </div>
    </mat-dialog-content>
    
    <mat-dialog-actions class="is-justify-content-space-between">
        <div>
            @if (editMode) {
                <button type="button" class="button is-danger" (click)="deleteCalendarEvent()">
                    <i class="far fa-trash mr-2"></i> {{ "commons.actions.delete" | translate }}
                </button>
            }
        </div>

        <div>
            <button type="button" class="button" mat-dialog-close>
                {{ "commons.actions.cancel" | translate }}
            </button>
            
            <app-action-button type="submit" title="commons.actions.save" customClass="is-primary ml-2" icon="far fa-bookmark mr-2" [isLoading]="isLoading"></app-action-button>
        </div>
    </mat-dialog-actions>
</form>