<form [formGroup]="calendarEventForm" (ngSubmit)="saveCalendarEvent()">
    <div class="modal-header">
        <h2 class="modal-title">{{ ("pages.calendar." + (addMode ? "addTitle" : "editTitle")) | translate }}</h2>
    </div>

    <mat-dialog-content>
        <div class="field">
            <label class="label">{{ "commons.fields.type" | translate }}</label>
            <div class="control has-icons-left">
                <div class="select is-fullwidth">
                    <select formControlName="eventSource" [disabled]="!addMode">
                        @for (calendarEventSource of calendarEventSources; track calendarEventSource) {
                            <option [ngValue]="calendarEventSource">{{ ('pages.calendar.eventSources.' + calendarEventSource) | translate }}</option>
                        }
                    </select>
                </div>
                <div class="icon is-small is-left">
                    @switch (data.calendarEvent.eventSource) {
                        @case (calendarEventSource.CALENDAR) {
                            <i class="far fa-calendar mr-2"></i>
                        }
                        @case (calendarEventSource.VACCINE) {
                            <i class="far fa-syringe mr-2"></i>
                        }
                        @case (calendarEventSource.WORMABLE) {
                            <i class="far fa-shield-virus mr-2"></i>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">{{ "commons.fields.date" | translate }}</label>
            <div class="control has-icons-left">
                <input type="text" id="startDateInput" class="input" formControlName="startDate" placeholder="{{ 'commons.dateFormats.dateTime' | translate}}"
                    [ngClass]="{'is-danger': calendarEventForm.get('startDate')?.errors?.['required'] && (isSubmitted || calendarEventForm.get('startDate')?.value === '')}">
                <span class="icon is-small is-left">
                    <i class="far fa-calendar"></i>
                </span>
            </div>
            <app-form-error [form]="calendarEventForm" fieldName="startDate" errorRuleName="required" errorMessage="commons.errors.dateRequired" customClass="is-danger" [isDate]="true" [isSubmitted]="isSubmitted"></app-form-error>
        </div>

        <div class="field">
            <label class="label">{{ "commons.fields.title" | translate }}</label>
            <div class="control has-icons-left">
                <input type="text" class="input" name="title" formControlName="title" placeholder="{{ 'commons.fields.title' | translate}}"
                    [ngClass]="{'is-danger': calendarEventForm.get('title')?.errors?.['required'] && (isSubmitted || calendarEventForm.get('title')?.touched)}">
                <span class="icon is-small is-left">
                    <i class="far fa-tag"></i>
                </span>
            </div>
            <app-form-error [form]="calendarEventForm" fieldName="title" errorRuleName="required" errorMessage="commons.errors.titleRequired" customClass="is-danger" [isSubmitted]="isSubmitted"></app-form-error>
        </div>

        <div class="field">
            <label class="label">{{ "commons.fields.description" | translate }}</label>
            <textarea class="textarea" name="description" rows="5" formControlName="description" placeholder="{{ 'commons.fields.description' | translate}}"
                [ngClass]="{'is-danger': calendarEventForm.get('description')?.errors?.['required'] && calendarEventForm.get('description')?.touched}"></textarea>
        </div>
    </mat-dialog-content>
    
    <mat-dialog-actions class="is-justify-content-space-between">
        <div>
            @if (!addMode) {
                <app-action-button type="button" title="commons.actions.delete" customClass="is-danger" icon="far fa-trash mr-2" [isLoading]="isDeleteLoading" (click)="deleteCalendarEvent()"></app-action-button>
            }
        </div>

        <div>
            <button type="button" class="button" mat-dialog-close>
                {{ "commons.actions.cancel" | translate }}
            </button>
            
            <app-action-button type="submit" title="commons.actions.save" customClass="is-primary ml-2" icon="far fa-bookmark mr-2" [isLoading]="isLoading"></app-action-button>
        </div>
    </mat-dialog-actions>
</form>